<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit.php" colors="true">
    <testsuites>
        <testsuite name="unit_full">
            <directory>tests</directory>
            <exclude>tests/Fixtures/</exclude>
        </testsuite>
        <testsuite name="unit_no_db">
            <directory>tests</directory>
            <exclude>tests/Fixtures/</exclude>
            <exclude>tests/Database/</exclude>
        </testsuite>
    </testsuites>
</phpunit>